---
pages:
  - name: Home
    url:  index.html
  - name: Usage
    url:  usage.html
  - name: Source
    url:  http://github.com/koraktor/rubikon
  - name: Wiki
    url:  http://github.com/koraktor/rubikon/wiki
  - name: Issue Tracker
    url:  http://github.com/koraktor/rubikon/issues
---
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" />

    <title>Rubikon - {{ page.title }}</title>

    {% include google_analytics %}
</head>
<body>
    <img src="graphics/rubikon_logo.png" />
    <ul id="menu">
        {% for item in page.pages %}
            <li>
                {% if item.name == page.title %}
                <span>{{ item.name }}</span>
                {% else %}
                <a href="{{ item.url }}">{{ item.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div id="content">
        {{content}}
    </div>
    <div id="footer">
        &copy; 2009-2010 &mdash; Sebastian Staudt
    </div>

    {% include pledgie %}

    <div id="twitter">
		<script src="http://widgets.twimg.com/j/2/widget.js"></script>
		<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 6000,
			  width: 250,
			  height: 300,
			  theme: {
				shell: {
				  background: '#222222',
				  color: '#ffffff'
				},
				tweets: {
				  background: '#000000',
				  color: '#ffffff',
				  links: '#b00f00'
				}
			  },
			  features: {
				scrollbar: true,
				loop: false,
				live: true,
				hashtags: true,
				timestamp: true,
				avatars: false,
				behavior: 'all'
			  }
			}).render().setUser('rubikonrb').start();
		</script>
	</div>
</body>
</html>
